<p>Update-movie:</p>

<form [formGroup]="form"
      (ngSubmit)="onSubmit()">

  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" name="title" formControlName="title">
    <span *ngIf="errorMessage.title" class="text-danger"><small>{{errorMessage.title}}</small> </span>
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <input type="text" class="form-control" id="description" name="description" formControlName="description">
    <span *ngIf="errorMessage.description" class="text-danger"><small>{{errorMessage.description}}</small> </span>

  </div>

  <div class="form-group">
    <label for="genre">Genre</label>
    <select class="form-control" id="genre" name="genre" formControlName="genre">
      <option *ngFor="let i of genre" [value]="i">{{i}}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="duration">Duration</label>
    <input type="number" class="form-control" id="duration" name="duration" formControlName="duration">
    <span *ngIf="errorMessage.duration" class="text-danger"><small>{{errorMessage.duration}}</small> </span>
  </div>

  <div class="form-group">
    <label for="releaseYear">Release year</label>
    <input type="number" class="form-control" id="releaseYear" name="releaseYear" formControlName="releaseYear">
  </div>

  <div class="form-group">
    <label for="director">Director</label>
    <input type="text" class="form-control" id="director" name="director" formControlName="director">
  </div>

  <div class="form-group">
    <label for="addedDate">Added date</label>
    <input type="text" class="form-control" id="addedDate" name="addedDate" formControlName="addedDate">
    <span *ngIf="errorMessage.addedDate" class="text-danger"><small>{{errorMessage.addedDate}}</small> </span>
  </div>

  <div class="form-group">
    <label for="rating">Rating</label>
    <input type="number" class="form-control" id="rating" name="rating" formControlName="rating">
    <span *ngIf="errorMessage.rating" class="text-danger"><small>{{errorMessage.rating}}</small> </span>
  </div>

  <div class="form-group">
    <label for="watched">Watched</label>
    <select class="form-control" id="watched" name="watched" formControlName="watched">
      <option *ngFor="let i of watched" [value]="i">{{i}}</option>
    </select>
  </div>

  <button type="submit" class="btn btn-success">Update!</button>

</form>

<div>
  <!--<table class='table table-striped' aria-labelledby="tableLabel">
    <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Description</th>
        <th>Genre</th>
        <th>Duration</th>
        <th>Realease year</th>
        <th>Director</th>
        <th>Added date</th>
        <th>Rating</th>
        <th>Watched</th>
        <th>Comments</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ movie.id }}</td>
        <td>{{ movie.title }}</td>
        <td>{{ movie.description }}</td>
        <td>{{ movie.genre }}</td>
        <td>{{ movie.duration }}</td>
        <td>{{ movie.releaseYear }}</td>
        <td>{{ movie.director }}</td>
        <td>{{ movie.addedDate }}</td>
        <td>{{ movie.rating }}</td>
        <td>{{ movie.watched }}</td>
        <td>{{ movie.comments }}</td>
      </tr>
    </tbody>
  </table>-->
</div>
