
<h1 id="tableLabel">Multimedia Center</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!movies"><em>Loading...</em></p>

<h3>Movies</h3>
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="movies">
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Description</th>
      <th>Genre</th>
      <th>Duration</th>
      <th>Realease year</th>
      <th>Director</th>
      <th>Added date</th>
      <th>Rating</th>
      <th>Watched</th>
      <th>Number of comments</th>
      <th colspan="4">Operations</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let movie of movies">
      <td>{{ movie.id }}</td>
      <td>{{ movie.title }}</td>
      <td>{{ movie.description }}</td>
      <td>{{ movie.genre }}</td>
      <td>{{ movie.duration }}</td>
      <td>{{ movie.releaseYear }}</td>
      <td>{{ movie.director }}</td>
      <td>{{ movie.addedDate }}</td>
      <td>{{ movie.rating }}</td>
      <td>{{ movie.watched }}</td>
      <td>{{ movie.numberOfComments }}</td>
      <td><a routerLink="/movie-details/{{movie.id}}" (click)="onSelect(movie)">Details</a></td>
      <td><a href="api/MovieItems">Add movie</a></td>
      <td><a href="api/MovieItems/{{movie.id}}">Update movie</a></td>
      <td><a href="api/MovieItems/{{movie.id}}">Delete movie</a></td>
    </tr>
  </tbody>
</table>
<h3>Comments</h3>
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="comments">
  <thead>
    <tr>
      <th>Id</th>
      <th>Text</th>
      <th>Important</th>
      <th>MovieId</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let comment of comments">
      <td>{{ comment.id }}</td>
      <td>{{ comment.text }}</td>
      <td>{{ comment.important }}</td>
      <td>{{ comment.movieId }}</td>
    </tr>
  </tbody>
</table>
