
<h1 id="tableLabel">Multimedia Center</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!movies"><em>Loading...</em></p>

<div>
  <span>Filter movies by Added date </span>
  <label>
    from
    <input #startDate type="date" class="mx-2">
    <input #startTime type="time" class="mx-2">
  </label>
  <label>
    to
    <input #endDate type="date" class="mx-2">
    <input #endTime type="time" class="mx-2">
  </label>
  <div class="d-inline px-3">
    <button class="btn btn-sm btn-outline-primary"
            type="button"
            (click)="filterMovies(startDate.value, startTime.value, endDate.value, endTime.value)">
      Filter Movies
    </button>
  </div>
</div>

<h3>Movies</h3>
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="movies">
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Description</th>
      <th>Genre</th>
      <th>Duration</th>
      <th>Realease year</th>
      <th>Director</th>
      <th>Added date</th>
      <th>Rating</th>
      <th>Watched</th>
      <th>Number of comments</th>
      <th colspan="3">Operations</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let movie of movies">
      <td>{{ movie.id }}</td>
      <td>{{ movie.title }}</td>
      <td>{{ movie.description }}</td>
      <td>{{ movie.genre }}</td>
      <td>{{ movie.duration }}</td>
      <td>{{ movie.releaseYear }}</td>
      <td>{{ movie.director }}</td>
      <td>{{ movie.addedDate }}</td>
      <td>{{ movie.rating }}</td>
      <td>{{ movie.watched }}</td>
      <td>{{ movie.numberOfComments }}</td>
      <td><a routerLink="/movie-details/{{movie.id}}" (click)="onSelect(movie)">Details</a></td>
      <td><a routerLink="/update-movie/{{movie.id}}" (click)="onClick(movie)">Update</a></td>
      <td><a routerLink="/delete-movie/{{movie.id}}" (click)="deleteMovie(movie)">Delete</a></td>
    </tr>
  </tbody>
</table>
<div>
  <a routerLink="/new-movie" (click)="addMovie()">Add movie</a>
</div>

<h3>Comments</h3>
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="comments">
  <thead>
    <tr>
      <th>Id</th>
      <th>Text</th>
      <th>Important</th>
      <th>MovieId</th>
      <th colspan="3">Operations</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let comment of comments">
      <td>{{ comment.id }}</td>
      <td>{{ comment.text }}</td>
      <td>{{ comment.important }}</td>
      <td>{{ comment.movieItemId }}</td>
      <td><a routerLink="/comment-details/{{comment.id}}" (click)="onDetails(comment)">Details</a></td>
      <td><a routerLink="/update-comment/{{comment.id}}" (click)="updateComment(comment)">Update</a></td>
      <td><a routerLink="/delete-comment/{{comment.id}}" (click)="onDelete(comment)">Delete</a></td>
    </tr>
  </tbody>
</table>
<div>
  <a routerLink="/new-comment" (click)="addComment()">Add comment</a>
</div>
