<p>New-movie:</p>

<form [formGroup]="form"
      (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" name="title" formControlName="title">
    <span *ngIf="errorMessage.Title" class="text-danger"><small>{{errorMessage.Title}}</small> </span>
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <input type="text" class="form-control" id="description" name="description" formControlName="description">
    <span *ngIf="errorMessage.Description" class="text-danger"><small>{{errorMessage.Description}}</small> </span>
  </div>

  <div class="form-group">
    <label for="genre">Genre</label>
    <select class="form-control" id="genre" name="genre" formControlName="genre">
      <option *ngFor="let i of genre" [value]="i">{{i}}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="duration">Duration</label>
    <input type="number" class="form-control" id="duration" name="duration" formControlName="duration">
    <span *ngIf="errorMessage.Duration" class="text-danger"><small>{{errorMessage.Duration}}</small> </span>
  </div>

  <div class="form-group">
    <label for="releaseYear">Release year</label>
    <input type="number" class="form-control" id="releaseYear" name="releaseYear" formControlName="releaseYear">
  </div>

  <div class="form-group">
    <label for="director">Director</label>
    <input type="text" class="form-control" id="director" name="director" formControlName="director">
  </div>

  <div class="form-group">
    <label for="addedDate">Added date</label>
    <input type="date" class="form-control" id="addedDate" name="addedDate" formControlName="addedDate">
    <span *ngIf="errorMessage.AddedDate" class="text-danger"><small>{{errorMessage.AddedDate}}</small> </span>
  </div>

  <div class="form-group">
    <label for="rating">Rating</label>
    <input type="number" class="form-control" id="rating" name="rating" formControlName="rating">
    <span *ngIf="errorMessage.Rating" class="text-danger"><small>{{errorMessage.Rating}}</small> </span>
  </div>

  <div class="form-group">
    <label for="watched">Watched</label>
    <select class="form-control" id="watched" name="watched" formControlName="watched">
      <option *ngFor="let i of watched" [value]="i">{{i}}</option>
    </select>
  </div>

  <button type="submit" class="btn btn-success">Save movie</button>

</form>

